SQLSERVER_DSN=Driver={ODBC Driver 18 for SQL Server};Server=localhost;Database=CustomerAIDemo;Trusted_Connection=yes;TrustServerCertificate=yes;
SQLSERVER_EMBEDDING_MODEL=LocalEmbeddingModel
SQLSERVER_VECTOR_DIMENSIONS=1024
SQLSERVER_SEARCH_MODE=approx

